/src/JAVIdolsDetector/bin/Debug/
/src/JAVIdolsDetector/obj/Debug/
/src/JAVIdolsDetector/.vscode
/src/JAVIdolsDetector/bin/src/JAVIdolsDetector/obj/Debug
/src/JAVIdolsDetector/bin/src/JAVIdolsDetector/bin/Debug
