@{
    ViewData["Title"] = "React Data Grid Demo";
}
<div>
    <h2>React Data Grid Demo</h2>
    @*<h4><a href="https://facebook.github.io/react/docs/thinking-in-react.html">https://facebook.github.io/react/docs/thinking-in-react.html</a></h4>*@
    <div class="react-app"></div>
</div>
@*<script type="text/babel" src=@Url.Content("~/lib/gs/gs-react-searchbox.jsx")></script>*@
<script type="text/babel" src=@Url.Content("~/build/bundle.js")>
</script>
@*<script type="text/babel" src=@Url.Content("~/lib/gs/gs-react-grid.jsx")>
</script>*@
