@{
    ViewData["Title"] = "React HelloWorld";
}
<div class="react-app"></div>
<script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
<script type="text/babel" src="@Url.Content("~/js/ReactTraining/index.jsx")"></script>