@{
    ViewData["Title"] = "React HelloWorld";
}
<div class="react-app"></div>
<script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
<script type="text/javascript" src="~/build/js/homeIndex.bundle.js">
</script>